#background {
    background-image: url(images/bigbackground.jpg);
    height: 35vh;
}

h1 {
    font-size: xxx-large;
}

a {
    text-decoration: none;
}

body {
    font-family: Verdana;
}

#portfoliobtn:hover {
    background-color: grey;
}

#cssbtn:hover {
    background-color: grey;
}

#javascriptbtn:hover {
    background-color: grey;
}